<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <%- partial('_partial/search') %>
    <%- partial('_partial/header') %>
        <main class="main">
            <%- body %>
        </main>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <%- js('/highlight/highlight.pack.js') %>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript" src="/js/toc.js"></script>
    <script type="text/javascript"  src="/js/search.js"></script>
    <script id="dsq-count-scr" src="//vincent-blog.disqus.com/count.js" async></script>
  </body>
</html>
